.your-data-text {
    margin-bottom: 15px;
    font-size: 20px;
    color: #808184;
    // font-weight: bold;
}

.register-before-login {
    text-align: center;
    background-color: gray;
    padding: 10px;
    font-weight: 600;
}
.save-result-text-box {
    margin-top: 25px;
    margin-bottom: 40px;
}

.save-and-see-text {
    text-align: center;
    font-size: 20px;
    color: #808184;
    // font-weight: bold;
}

.visitor-box {
    margin-bottom: 50px;
    text-align: center;
  }