
.page-section#welcome {
  padding: 7rem 0 3rem !important;
}
.text-info {
    color: #008398 !important;
  }
 
  .table {
    td, th{
    border: none;
  }
}
.text-info.font{
  font-size: 16px !important;
  max-width: 572px;
}
.wrap-top{
  padding-bottom: 0px !important;
}
.mr-2 {
  cursor: pointer;
}