
<app-header></app-header>
<!-- Network Section-->
<div class="know_section contact_text top-space-s">
    <div class="container">
      
          <div class="know_text netwrk-p">
            <div class="know_text ">
              <div class="title-box">
                 <h1 class="page-title">My HAPPILY-CHATBOX</h1>
                 <img src="./assets/images/border_center.png" alt="img">
              </div>
            </div> 
                  <p>Your data is privacy protected. No one will know your identity, not even HAPPILY!</p>
                  <p>Share your emotional state results with other members, and hear which products or services have worked for them.  The more you participate, the more you will benefit.</p>
                  <p>Never disclose your identity.</p>
                  <p>Offensive, destructive or critical language is prohibited.</p>  
                  <p><i>Thank you for your cooperation!</i></p>
                  <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                  <img src="./assets/images/emai-imag-1.jpg" alt="img" >
                   <figcaption>Photo by Ketut Subiyanto from Pixels.com. </figcaption> 
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <img src="./assets/images/emai-imag-2.jpg" alt="img" >
                    <figcaption>Photo is by Dio Hasbi Saniskoro, from Pixels.com.   {{userLogin | json}}</figcaption> 
                  </div>
                  </div>
            
          </div>
          
            <div class="row">
              <div class="col-md-10 col-sm-10 col-xs-12 center">
                <div class="title-box">
                <a (click)="supportPopup()" class="btn_yellow mt-2">Open my CHATBOX</a>
                </div>
                </div>
             </div>
            
      </div>
    </div>
<!-- Network Section-->
<app-repeated-text></app-repeated-text>
<app-footer></app-footer>