    <!-- Social_section -->
    <!-- <div class="Social_section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
      			<h2>HAPPILY IS A SOCIAL <br> SERVICE VENTURE</h2>
      			<p>Your data is confidential and privacy protected. No one will know your identity, not even Happily!</p>
      			<p>Happily is not a typical social network – no one knows anyone’s identity, but all can learn from each other, using a privacy protected communications system.</p>
      			<p>Happily respects all faiths, is inclusive of all self-help services, and is advised by wellness experts.</p>
          </div>
        </div>
      </div>
    </div> -->
    <!-- Social_section -->