.emotionalHealthMeasurePg img {
    margin: 0px auto;
    display: table;
}
.read-more-style {
    margin-top:15px;
    color: green !important;
}

.left-table {
    margin-top: 20px;
    border: 5px solid #268027;
    h4 {
        color: #606060;
        text-align: center;
        margin: 10px;
    }
}
.know_section {
    padding: 0 !important;
}
.right-table {
    margin-top: 20px;
    border: 5px solid #268027;
    h4 {
        color: #606060;
        text-align: center;
        margin: 10px;
    }
}
.table-content-element {
    padding: 3px;
    border-top: 2px solid #268027 !important;
    margin: 0 20px;
    p {
        margin: 10px !important;
    }
}
.let-face-it-section {
    margin-top: 30px;
    text-align: center;
}
.we-all-have {
    font-size: 20px;
    margin-top:20px;
}