  <!-- Header Start -->
  <header>
    <div class="main_header">
      <div class="main_Menu">
        <div class="container header-main-design-style">
          <div class="row flexRow icon-and-nav-title-box">
            
            <div id="target" class="main_logo">
               <a [routerLink]="['/home']"><img src="./assets/images/logo.png" alt="img"></a>
            </div>
            
            <div class="toggle-box">
              <button class="toggle-btn">
                  <i></i>
              </button>
            </div>
            
            <div class="menuSec nav-menu-head">
              <ul id="menu">
                <li class="active"><a [routerLink]="['/home']">HOME</a></li>
                <li><a style="cursor: pointer;" >SUPPORT </a></li>
                <li><a style="cursor: pointer;" href="https://happy-minds-group.com">CHAT GROUPS </a></li>
                <li><a style="cursor: pointer;" (click)="resultPopup()" routerLinkActive="active">MY <br>RESULTS</a></li>
                <li class="signIn_div"><a style="cursor: pointer;" *ngIf="!flagLogout"
                  [routerLink]="['/sign-up']" routerLinkActive="active">SIGN UP</a></li>
                <li class="signIn_div"><a style="cursor: pointer;" *ngIf="!flagLogout"
                  [routerLink]="['/']" routerLinkActive="active">LOGIN</a></li>
                  <li class="signIn_div"><a style="cursor: pointer;" *ngIf="flagLogout"
                    (click)="logout()" >LOGOUT</a></li>
              </ul>
            </div>
           
            
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Header End -->

<section class="page-section" id="error-404">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>404</h1>
                <h2>Page Not Found</h2>
                <a class="webBtn" [routerLink]="['/home']"><span>Back Home </span><i
                        class="icon-button-arrow"></i></a>
            </div>
        </div>


    </div>
</section>

 
<footer>
    <div class="container">
      <!-- Get_section -->
     <!-- <div class="Get_section">
        <div class="row flexRow">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="Get_text">
                <h3>Get Our Updates Always Fast</h3>
                <p>10% off your next order when you sign up + be the first to know <br> about new products and special offers.</p>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="Get_text">
                <input type="text" placeholder="Enter Your Email Here...">
                <button type="submit">Subscribe Now</button>
              </div>
            </div>
        </div>
      </div>-->
      <!-- Get_section -->
      <div class="main_footer">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer_Box1">
              <a href="javascript:void(0)"><img src="./assets/images/logo.png" alt="img"></a>
              <h3>HAPPILY IS A SOCIAL SERVICE VENTURE</h3>
      <p>Your data is confidential and privacy protected. No one will know your identity, not even Happily!</p>
      <p>Happily is not a typical social network – no one knows anyone’s identity, but all can learn from each other, using a privacy protected communications system.</p>
      <p>Happily respects all faiths, is inclusive of all self-help services, and is advised by wellness experts.</p>
      
            
            </div>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-12"></div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="footer_Box2">
              <ul>
                <li class="active"><a >HOME</a></li>
                <li><a >METHOD</a></li>
                <li><a>PLANS</a></li>
                <li><a >SELF-HELP PRODUCTS</a></li>
                <li><a >MIND RESEARCH</a></li>
                <li><a >EDITOR’s DESK</a></li>
                <li><a >TECHNICAL SUPPORT</a></li>
                <li><a [routerLink]="['/contact-us']" routerLinkActive="active">CONTACT  US</a></li>
                <li><a  routerLinkActive="active">NETWORK CONNECTION</a></li>
                <li><a (click)="resultPopup()" routerLinkActive="active">MY RESULTS</a></li>
                <li><a *ngIf="!flagLogout"
                  [routerLink]="['/sign-up']" routerLinkActive="active">Sign Up</a></li>
                <li><a *ngIf="!flagLogout"
                  [routerLink]="['/']" routerLinkActive="active">Login</a></li>
                  <li><a *ngIf="flagLogout"
                    (click)="logout()">Logout</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer_Box3">
              <div class="info_div">
                <ul>
                 <!-- <li><a href="tel:0000000000"><span>Cell: </span>000-000-0000</a></li> -->
                  <li><a href="javascript:void"><span>Email: </span>support@my-happy-mind.com</a></li>
                  <!--  <li><a href="javascript:void(0)">Our Location on Google Map</a></li>-->
                </ul>
              </div>
        <div class="footer_social">
                <ul>
                  <li><a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
              </div>
             <!-- <div class="footer_payment">
                <ul>
                  <li><a href="javascript:void(0)"><img src="images/card1.png" alt="img"></a></li>
                  <li><a href="javascript:void(0)"><img src="images/card2.png" alt="img"></a></li>
                  <li><a href="javascript:void(0)"><img src="images/card3.png" alt="img"></a></li>
                  <li><a href="javascript:void(0)"><img src="images/card4.png" alt="img"></a></li>
                  <li><a href="javascript:void(0)"><img src="images/card5.png" alt="img"></a></li>
                </ul>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copy_right">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <p>© 2021 Happily . All Rights Reserved. </p>
          </div>
        </div>
      </div>
    </div>
  </footer>