<app-header></app-header>
<section class="page-section" id="terms">
  <div class="wrap-top">
    <div class="container d-flex align-items-center flex-column">
      <h2 class="mt-4 mb-4 text-center">Terms and Conditions of Use for <br />www.My-Happy-Mind.com
      </h2>
      <h4>Updated on March 25, 2021</h4>
      <h4 class="mt-2 mb-4">The visitor, and/or reader, and/or user, and/or subscriber, and/or customer, and/or member,
        hereinafter referred to as “YOU,” or “YOUR,” understands and agrees to the following:</h4>
      <!-- <h5 class="pt-1">I know the symptom, but don’t really know the
        cause, or the right solution …. </h5>
      <p class="font-weight-light mt-3 mb-4"> There are endless self-help solutions. Which one is right for me?
      </p> -->
      <ol>
        <li style="font-weight: 400;">
          <h5 class="pt-1">Investor Empowerment Inc. (IEI), incorporated in the Commonwealth of Massachusetts, is in the
            business of publishing general financial or other information, including analysis, tools, data, output of
            models, ratings, and publicly available information. IEI does not provide or publish any customized
            information specific to any customer. All IEI information is intended for educational, entertainment and
            general informational purposes.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">This document constitutes IEI’s Terms of Use & Privacy Policy for IEI’s website, website
            contents, information, services, products, including IEI’s My-Happy-Mind.com website.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">This document, website, website contents, information, services and products contained herein
            are the property of Investor Empowerment Inc.(IEI), and are protected by copyright and intellectual property
            laws. My-Happy-Mind is a registered service mark belonging to IEI. All rights reserved.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">IEI or its management or employees are not registered as financial advisors, nor planners,
            are not registered with the SEC or any governing agency, and do not hold licenses for any investment advice,
            trading, brokerage or planning.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">This document, website, website contents, information, services and products are not intended
            to be financial or other advice, recommendations, directions, or suggestions, nor are they indented for YOUR
            past, current or future financial or other decisions, trading, or dealings in any financial or other
            instruments, actions or inactions.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">IEI makes no warranties of any kind, whether explicit or implied, about the meaning,
            usefulness, applicability, completeness, correctness, timeliness, accuracy, or accessibility of the website,
            website contents, information, services and products contained therein.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">IEI does not warrantee that its website, website contents, information, services, products,
            website servers, or technology, are free of computer viruses and other harmful effects.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">IEI bears no responsibility for servicing or replacement of equipment, lost productivity,
            downtime, costs or damages, incurred during the use of IEI website, website contents, information, services,
            products, website servers, or technology.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">IEI and its suppliers, to the fullest extent permitted by law, disclaim all warranties,
            including the warranty of merchantability, non-infringement of third-parties’ rights, and the warranty of
            fitness for particular purpose.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">IEI or its management or employees shall not be liable for any punitive, incidental,
            special, consequential, indirect or exemplary damages, including but not limited to damages for loss of
            profits, goodwill, other tangible or intangible losses, mental or physical pain, or suffering caused by the
            use of the contents, or reliance on the contents of this document or IEI’s website, website contents,
            information, services, or products in any manner.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">YOU understand that IEI provides or publishes information uniformly from time to time, and
            does not provide any customized information that is specific to YOU.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">YOU are at YOUR own risk in using this information to draw any conclusions or arrive at any
            decisions, actions or inactions, financial or otherwise.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">YOU agree to indemnify and hold IEI, its management and employees harmless from any claim
            or demand, including attorneys’ fees or other costs. YOU agree not to start, or enter into any manner of
            litigation against IEI.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">YOU may not reproduce, reverse engineer, retransmit, disseminate, sell, publish or
            broadcast IEI website contents, information, services and products; nor shall YOU use this information in
            connection with commercial purposes, including creating, promoting, trading, or marketing products without
            the express written consent of IEI.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">YOU are entitled to use the contents for YOUR private, non-commercial use only.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">If YOU violate, or cause to violate any of the Terms of Use & Privacy Policy, or agreement
            clauses, YOU will be held liable to IEI for all financial and other damages to or incurred by IEI.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">If in case YOU are a financial advisor, planner, fund manager, broker, or other financial
            industry or investment professional, YOU will need prior written permission of IEI to use this information,
            and will abide by the Terms of Use & Privacy Policy stated in this document. Without prior written
            permission from IEI, YOU will be held liable to compensate IEI for all damages.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">IEI does not automatically collect or store personal information for any purpose. IEI web
            servers do, however, collect non-personal information automatically to record the IP addresses of visitors,
            the date and time of access, the pages visited, whether or not the pages were successfully retrieved from
            our server, and various other status codes and values. This is done so that IEI can better understand how
            its online environment is being used and accessed.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">IEI does not require, nor collect any credit card numbers, social security numbers, bank
            account numbers, birth dates, financial records, or other such information, to register, SIGN UP for,
            subscribe to, or use IEI published information.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">IEI does not give, sell, or transfer personal information to third parties, other than
            those directly involved in providing a service or fulfilling a request on behalf of IEI, or unless IEI is
            required to do so by law.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">If YOU purchase a product or service online through IEI or linked websites, for reasons of
            security, YOUR credit card or other financial information is processed by an authorized third-party payment
            gateway in a secure environment. IEI does not store YOUR credit card or any financial information on its web
            servers. IEI retains only the order information for its records, to fulfill a request for a product, a
            service, or for information regarding an order. IEI does not share this information with third parties,
            other than its employees and contractors engaged in the fulfillment of service.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">This website may contain links to third party websites. These links are provided solely as a
            convenience for YOU. IEI is not responsible for the content or functionality of linked third-party websites,
            and does not make any representation regarding the content, functionality, or accuracy of materials on such
            third-party websites. If YOU decide to access a linked third-party website, YOU do so at YOUR own risk.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">When YOU send information through an electronic mail (email) message, input form, or by
            posting a comment to a blog, or any other method, YOU do so at YOUR own risk.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">A “cookie” is a file placed on YOUR computer by a website that allows it to store information
            about YOUR visit, which can be retrieved at a later time, sometimes without YOUR knowledge. IEI, its
            websites, and websites linked by IEI may use cookies now or in the future. YOU can set YOUR web browser to
            warn YOU when placement of a cookie is requested, so that YOU can decide whether or not to accept it. If YOU
            completely disable cookies on YOUR web browser, features of websites may not work properly.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">IEI shall prorate and refund remaining months of total fees, that were paid by YOU, for
            unused months of service, if for any reason, YOU inform IEI of YOUR decision to discontinue receiving IEI
            services, by email, and also by paper copy sent by registered US postal mail. Such refund shall be made
            within 20 business days of the receipt of such notice from YOU. However, IEI can refuse to make any refunds,
            if IEI deems at its sole discretion, that YOU are starting and stopping IEI services and repeating the
            cycle, to get IEI information only when YOU want during the year, so as to avoid paying the full annual
            subscription fees.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">All third parties referenced are registered trade names or trademarks or service marks of the
            respective third parties.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">By accessing the IEI website, website contents, information, services and products, YOU
            warrant that YOU are at least 18 years of age.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">This Terms of Use & Privacy Policy document may occasionally be updated. Notice of revision
            will be posted here by identifying the date of latest revision, at the top of the page.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">Any disputes shall be resolved in the jurisdiction of the Commonwealth of Massachusetts.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">IEI has the sole right to appoint an arbitrator in case of any arbitration proceedings.</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">If YOU have questions or comments about this document, please email IEI
            at support@My-Happy-Mind.com</h5>
        </li>
        <li style="font-weight: 400;">
          <h5 class="pt-1">YOU can also contact IEI via US mail at Investor Empowerment Inc., 9 Goodnow Avenue, Ashland,
            MA 01721.</h5>
        </li>
      </ol>
      <!-- <app-repeated-text></app-repeated-text> -->
    </div>
  </div>
</section>

<app-footer></app-footer>