
.content-center {
    display: flex;
    justify-content: center !important;
    width: 100%;
}


.modal-content-center {
    height: 120px;
    display: flex;
    justify-content: center;
    padding: 50px;
}