.composeMailText .webBtn {
    position: absolute;
    bottom: -70px;
    right: 14px;
}
.webBtn.float-right {
    float: right;
    margin-top: 20px;
}
.alert-message{
    color: red !important;
    font-size: 1.5rem;
    text-align: right;
}
.techcomposeMail .composeMailText {
    margin: 70px 0 0px !important;
    position: relative;
}
tbody 
h5.text-message {
    text-align: center;
    margin-top: 50px;
}
