@media (max-width: 768px) {
    a.btn-social.facebook {
        margin-left: 16px !important;
    }
  }
  .btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa;
    display: inline-flex !important;
}