.comming-soon {
    text-align: center;
    color: orange;
    margin-top: 170px;
    text-transform: uppercase;
}
.page-title-head {
    text-align: center;
}
.home-section-head h5{
    color:#808184;
    font-weight: 400;
 }
.you-can-take {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-style: italic;
}

.make-you-aware {
    text-align: center;
    font-style: italic;
}
.will-help-you {
    text-align: center;
    font-style: italic;
}
.test-results-will-make-box {
    text-align: center;
}
.border-center-img {
    margin-top: 15px;
}
.let-face-it-section {
    text-align: center;
}
.we-all-have {
    font-size: 20px;
    margin-top:20px;
}
.read-more-style {
    margin-top:15px;
    color: green !important;
}
.read-more-style i{
    cursor: pointer;
}

@media (min-width: 1200px) {

    .container-box-style {
        width: 1280px;
    }

}