
<app-header></app-header>

<!-- <section class="page-section" id="solution">
    <div class="wrap-top">
        <div class="container">
            <h2 class="mt-4 mb-4 text-center text-dark">Solutions that are best suited for you!</h2>
            <div class="d-flex justify-content-center">
            </div>
            <div class="row">
                <div *ngIf="!displayFlag" class="col-lg-12 text-center">
                    <h4 class="mt-2">These solutions are based on guidance from the HAPPILY panel of wellness experts.
                        They match your goals and your mind-states seen from your own self-reflection. Try them, monitor
                        your happiness regularly and let HAPPILY know. We will be with you at every step! </h4>
                    <h5 class="mt-4">Click on a solution to see suggested products or services.<br /> Use the  <a
                            href="javascript:void" [routerLink]="['/pages/network']">Network Connection Form </a>if you want help from the HAPPILY worldwide network!
                    </h5>
                </div>
                <div *ngIf="displayFlag" class="col-lg-10 text-center">
                    <h4 class="mt-2">These solutions are based on guidance from the HAPPILY panel of wellness experts.
                        They match your goals and your mind-states seen from your own self-reflection. Try them, monitor
                        your happiness regularly and let HAPPILY know. We will be with you at every step! </h4>
                    <h5 class="mt-4">Click on a solution to see suggested products or services.<br /> Use the  <a
                            href="javascript:void" [routerLink]="['/pages/network']">Network Connection Form </a>if you want help from the HAPPILY worldwide network!
                    </h5>
                </div>
                <div *ngIf="displayFlag" class="col-lg-2 pl-0">
                    <div class="soon-logo mb-5">
                        <img src="./assets/img/coming-soon.png" alt="">
                    </div>
                </div>
            </div>
            <div *ngIf="!displayFlag">
                <div class="row">
                    <div class="col-lg-3 text-right">
                        <div class="rating"> <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input
                                type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio"
                                name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio"
                                name="rating" value="1" id="1"><label for="1">☆</label>
                        </div>
                        <div class="rating"> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input
                                type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                        </div>
                        <div class="rating"> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                        </div>
                        <div class="rating"> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                        </div>
                        <div class="rating"> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                        </div>
                        <div class="rating"><input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                        </div>
                        <div class="rating"><input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                        </div>
                    </div>
                    <div class="col-lg-7 mt-3 p-0">
                        <h5 class="mb-3">Use support of other members </h5>
                        <h5 class="mb-3">Practice breathing exercises</h5>
                        <h5 class="mb-3">Help others in need, at least once a week </h5>
                        <h5 class="mb-3">Have more positive conversations with family and friends </h5>
                        <h5 class="mb-3">Eat tasty AND healthy food </h5>
                        <h5 class="mb-3">Practice silence – visual, verbal and internal </h5>
                        <h5 class="mb-3">Love your pet more</h5>
                    </div>
                    <div class="col-lg-2 pl-0">
                        <div class="soon-logo mb-5">
                            <img src="./assets/img/coming-soon.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="form-group privacy-test text-center mt-5 mb-5">
                    <button class="btn btn-xl" disabled type="submit">Mind changes. Observe it once a month!
                    </button>
                </div>
            </div>
        </div>
    </div>
</section> -->



    <!-- solutionPg -->
    <main class="solutionPg">
        <div class="solutionSec know_section">
          <div class="container">
            <div class="know_text ">
              <div class="title-box">
                 <h1 class="page-title">Solutions that are best suited for you!</h1>
                 <img src="./assets/images/border_center.png" alt="img">
              </div>
            </div>
            <p>These solutions are based on guidance from the HAPPILY panel of wellness experts. They match your goals and your mind-states seen from your own self-reflection. Try them, monitor your happiness regularly and let HAPPILY know. We will be with you at every step!</p>
            <p>Click on a solution to see suggested products or services.</p>
            <p>Use the <a style="cursor: pointer;" [routerLink]="['/plans']">HAPPLY-CHATBOX</a> if you want help from the HAPPILY worldwide network!</p>
            <div class="row flexRow">
              <div class="col-md-2 col-sm-2 col-xs-12">
              </div>
              <div class="col-md-7 col-sm-7 col-xs-12">
                <ul class="mainList">
                  <li>
                    <ul class="list-inline rating">
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                    Use support of other members
                  </li>
                  <li>
                    <ul class="list-inline rating">
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                    Practice breathing exercises
                  </li>
                  <li>
                    <ul class="list-inline rating">
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                    Help others in need, at least once a week
                  </li>
                  <li>
                    <ul class="list-inline rating">
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                    Have more positive conversations with family and friends
                  </li>
                  <li>
                    <ul class="list-inline rating">
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                    Eat tasty AND healthy food
                  </li>
                  <li>
                    <ul class="list-inline rating">
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                    Practice silence – visual, verbal and internal
                  </li>
                  <li>
                    <ul class="list-inline rating">
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                    Love your pet more
                  </li>
                </ul>
                <a  class="webBtn" [routerLink]="['/question-page']">Mind changes. Observe it once a month!</a>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="comingSoonSec">
                  <img src="./assets/images/comingSoon.png" class="img-resposive" alt="comingSoon">
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- solutionPg -->
      <!-- <app-repeated-text></app-repeated-text> -->
<app-footer></app-footer>