<app-header></app-header>
<div class="know_section benefitsSec">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-12 center">
          <div class="know_text">
        
            <h3>Member Benefits</h3>
            <br>
            <img src="images/border_center.png" alt="img">
            <br>
            <br>
            <p>Take self-reflection test and know what is causing your problems <br> Get action plan, customized for you!</p>
            <p>Get support <b>Anonymously. Privately</b> share experiences with the worldwide <br> HAPPILY community of friends.</p>
            <p>Create or join your own safe and nurturing group.</p>
            <p>Get a personal anonymous, privacy protected happiness coach, including one of your faith if you want.</p>
            <p>Browse all self-help products, services, curated reviews or see what experts are saying about mind health and happiness.</p>
            <p>Enjoy and be inspired by daily notifications and newsletter.</p>
           
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-repeated-text></app-repeated-text> -->
<app-footer></app-footer>